
$platinum: #e7e7e7;
$light-cyan: #FBFCFC;
$dark-cyan: #0266a9;
$gray-chateau: #9FA8B2;
$geyser: #DAE0E7;
$iron: #C9CCCF;
$white-smoke: #f5f5f5;
$mid-gray: #5B656A;
$dove-gray: #727272;
$light-silver: #F1F3F5;
$border-color: #C6CCD6;
$icon-grey: #8D98AC;

$navy-blue: #007ACC;
$outer-space: #263238;
$navy-title: #17325E;
$light-blue-background: #F0F4F4;
$light-blue-highlight: #337AC60D;

$white: #ffffff;
$black: #000000;

$pink-magenta: #a3025f;
$barbie-pink: #E20886;
$light-pink: #e7cad6;
$disabled-input-color: #A2A2A2;
$disabled-color: #DFDFDF;
$light-pink-background: #FaF5F8;

$guardsman-red: #C21515;
$light-red-highlight: #FCF3F3;
$warning-message-color: #cdb533;
$apple: #4d8736;

$light-grey: #DEDEDE;
$ocean-night: #637195;

$benenden-blue: #007acc;
$benenden-light-blue: #f2f8fc;

//Small view - Small Tablet: 577px - 768px
$tablet-break-point: 769px;

$yellow-warning: #FFBE16;
$light-yellow-warning: #FFF8E8;
$pale-yellow-warning: #FFFDF9;

$light-green-highlight: #49A33B0D;
$check-green: #49A33B;

$grey-disabled: #c4c4c4;
$light-grey-highlight: #6371950d;

//fonts variables
$benenden-main-font: 'Gotham Rounded', sans-serif;
$benenden-mainheading-font: 'FFMarkStdBold', sans-serif;
$benenden-subheading-font: 'FFMarkStdMedium', sans-serif;
