<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3"
  >
    <div class="container-fluid" style="margin-left: 20px; margin-right: 20px;">
      <a class="navbar-brand h1" [routerLink]="['/']" style="font-size: 30px;">Andreas</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link h1" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" style="margin-left: 20px;">
            <a class="nav-link h1" [routerLink]="['/view-persons']"
              >Persons</a
            >
          </li>
          <li *ngIf="!isUserLoggedIn" class="nav-item" [routerLinkActive]="['link-active']" style="margin-left: 20px;">
            <a class="nav-link h1" [routerLink]="['/login']"
              >Login</a
            >
          </li>
          <li *ngIf="isUserLoggedIn" class="nav-item" [routerLinkActive]="['link-active']" style="margin-left: 20px;">
            <div *ngIf="isUserLoggedIn" class="nav-link h1">
              <h4 *ngIf="isUserLoggedIn" style="margin-top: 5px;margin-bottom: 0;">
                Hello, {{fullname}}
              </h4>
            </div>
          </li>
          <li *ngIf="isUserLoggedIn" class="nav-item" style="margin-left: 20px;">
            <a class="nav-link h1" (click)="logout()" style="cursor: pointer;"
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
