<div class="card" style="margin: 20px;">
    <div class="card-body">
        <div class="card" style="margin-bottom:15px; margin-top: 15px; background-color: antiquewhite;">
            <div class="card-body">
            <div>
                <h3>Existing Blobs</h3>
                <h6><i>(az blob container)</i></h6>
            </div>
            <div>
                <li *ngFor="let item of blobsNames">{{item}}</li>
            </div>
            <div>
                <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
                <button type="button" class="btn btn-success" (click)="file.click()">Upload File to Blob container</button>
            </div>
            <div>
                <span class="upload" *ngIf="progress > 0">
                {{progress}}%
                </span>
                <span class="upload" *ngIf="message">
                {{message}}
                </span>
            </div>
            <div>
                <button type="button" class="btn btn-success" (click)="deleteAllBlobs()">Delete all blobs</button>
            </div>
            </div>
        </div>
    </div>
</div>