.container {
    position: relative;
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: white;
    margin: 0; 
    padding: 0;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }

  h1 {
    font-size: 70px;
    font-weight: 600;
    background-image: radial-gradient(circle, #553c9a, #ee4b2b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }