<div class="card" style="margin: 20px;">
  <div class="card-body">

<h1 id="tableLabel">Persons</h1>

<!-- <p *ngIf="!personsList?.length"><em>Loading...</em></p> -->

<div>
  <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort #personsTableSort="matSort">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <!-- Firstname Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Firstname </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <!-- Lastname Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lastname </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="showEditPersonForm(element)">Edit</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="deletePerson(element.id)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="green"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator 
      #paginator
      [length]="resLength"
      [pageSizeOptions]="[2, 4, 6]"
      showFirstLastButtons>
    </mat-paginator>
</div>

<button *ngIf="!createNewPersonActionStarted" type="button" (click)="showCreatePersonForm(true)" class="btn btn-primary">Create new Person</button>

<div *ngIf="createNewPersonActionStarted" class="card" style="margin-top: 20px;">
  <div class="card-body">
    <h1>Create new person</h1>
    <form #personForm="ngForm" (ngSubmit)="onSubmitCreate()" style="width: 500px; padding-top:30px;">

      <div class="form-group">
        <label for="firstName">Firstname</label>
        <input type="text" class="form-control" id="firstName" name="firstName" required [(ngModel)]="newPersonModel.firstName" #firstName="ngModel">
        <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
          Firstname is required
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Lastname</label>
        <input type="text" class="form-control" id="lastName" name="lastName" required [(ngModel)]="newPersonModel.lastName" #lastName="ngModel">
        <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
          Lastname is required
        </div>
      </div>

      <div style="display:flex">
        <div>
          <button type="submit" class="btn btn-success" style="margin-top: 20px;"
            [disabled]="!personForm.form.valid">Add new person</button>
        </div>
        <div style="margin-left: 20px;">
          <button type="button" (click)="showCreatePersonForm(false)" style="margin-top: 20px;"
            class="btn btn-primary">Hide create new Person</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card" style="margin-bottom:15px; margin-top: 15px; width: 500px; background-color: antiquewhite;">
  <div class="card-body">
    <div>
      <h5>Existing Blobs</h5>
    </div>
    <div>
      <li *ngFor="let item of blobsNames">{{item}}</li>
    </div>
    <div>
      <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
      <button type="button" class="btn btn-success" (click)="file.click()">Upload File to Blob container</button>
    </div>
    <div>
      <span class="upload" *ngIf="progress > 0">
        {{progress}}%
      </span>
      <span class="upload" *ngIf="message">
        {{message}}
      </span>
    </div>
    <div>
      <button type="button" class="btn btn-success" (click)="deleteAllBlobs()">Delete all blobs</button>
    </div>
  </div>
</div>


<div *ngIf="updatePersonActionStarted"  class="card"  style="margin-top: 20px;">
  <div class="card-body">
    <h1>Update person - {{currentEditingPersonName}}</h1>
    <form #personForm="ngForm" (ngSubmit)="onSubmitUpdate()" style="width: 500px; padding-top:30px;">

      <div class="form-group">
        <label for="firstName">Firstname</label>
        <input type="text" class="form-control" id="firstName" name="firstName" required [(ngModel)]="editPersonModel.firstName" #firstName="ngModel">
        <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
          Firstname is required
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Lastname</label>
        <input type="text" class="form-control" id="lastName" name="lastName" required [(ngModel)]="editPersonModel.lastName" #lastName="ngModel">
        <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
          Lastname is required
        </div>
      </div>

      <div style="display:flex">
        <div>
          <button type="submit" class="btn btn-success" style="margin-top: 20px;"
            [disabled]="!personForm.form.valid">Update person</button>
        </div>
        <div style="margin-left: 20px;">
          <button type="button" (click)="hideEditPersonForm()" style="margin-top: 20px;"
            class="btn btn-primary">Hide create new Person</button>
        </div>
      </div>

    </form>
  </div>
</div>

</div>
</div>